## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Karwar,IN,14.8000,74.1333,78.35,86,43,16.53,scattered clouds
1,1,Namibe,AO,-15.1961,12.1522,61.38,90,54,8.57,broken clouds
2,2,Tuktoyaktuk,CA,69.4541,-133.0374,53.60,82,75,14.97,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,73.15,70,77,20.94,broken clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,83,40,12.66,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Karwar,IN,14.8000,74.1333,78.35,86,43,16.53,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,73.15,70,77,20.94,broken clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,83,40,12.66,scattered clouds
8,8,Acapulco,MX,16.8634,-99.8901,87.62,62,75,8.05,broken clouds
10,10,Cihuatlan,MX,19.2366,-104.5651,87.48,66,40,6.91,scattered clouds
11,11,Atuona,PF,-9.8000,-139.0333,77.22,68,33,25.48,scattered clouds
12,12,Ribeira Grande,PT,38.5167,-28.7000,74.64,78,81,9.24,broken clouds
13,13,Zhongxing,CN,33.7039,118.6792,81.45,79,54,2.98,broken clouds
14,14,Biak,ID,-0.9131,122.8766,75.29,88,96,1.61,overcast clouds
15,15,Gat,IL,31.6100,34.7642,80.82,100,0,5.17,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                343
City                   343
Country                343
Lat                    343
Lng                    343
Max Temp               343
Humidity               343
Cloudiness             343
Wind Speed             343
Current Description    343
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Karwar,IN,14.8000,74.1333,78.35,86,43,16.53,scattered clouds
3,3,Rikitea,PF,-23.1203,-134.9692,73.15,70,77,20.94,broken clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,83,40,12.66,scattered clouds
8,8,Acapulco,MX,16.8634,-99.8901,87.62,62,75,8.05,broken clouds
10,10,Cihuatlan,MX,19.2366,-104.5651,87.48,66,40,6.91,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Kupang,ID,-10.1667,123.5833,77.20,81,28,12.62,scattered clouds
674,674,Bani,DO,18.2833,-70.3333,87.24,65,3,14.72,clear sky
675,675,Agua Prieta,MX,31.3000,-109.5667,88.38,34,66,3.18,broken clouds
677,677,Along,IN,28.1667,94.7667,74.82,98,60,1.01,broken clouds
678,678,Pilas,ES,37.3034,-6.3010,78.28,66,0,6.93,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karwar,IN,78.35,scattered clouds,14.8000,74.1333,
3,Rikitea,PF,73.15,broken clouds,-23.1203,-134.9692,
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
8,Acapulco,MX,87.62,broken clouds,16.8634,-99.8901,
10,Cihuatlan,MX,87.48,scattered clouds,19.2366,-104.5651,
11,Atuona,PF,77.22,scattered clouds,-9.8000,-139.0333,
12,Ribeira Grande,PT,74.64,broken clouds,38.5167,-28.7000,
13,Zhongxing,CN,81.45,broken clouds,33.7039,118.6792,
14,Biak,ID,75.29,overcast clouds,-0.9131,122.8766,
15,Gat,IL,80.82,clear sky,31.6100,34.7642,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
    
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karwar,IN,78.35,scattered clouds,14.8000,74.1333,Netalco Connects
3,Rikitea,PF,73.15,broken clouds,-23.1203,-134.9692,People ThankYou
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Acapulco,MX,87.62,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
10,Cihuatlan,MX,87.48,scattered clouds,19.2366,-104.5651,Hotel Posada Agua Escondida
...,...,...,...,...,...,...,...
673,Kupang,ID,77.20,scattered clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
674,Bani,DO,87.24,clear sky,18.2833,-70.3333,Hospedaje Henriquez
675,Agua Prieta,MX,88.38,broken clouds,31.3000,-109.5667,Hotel Real de Agua Prieta
677,Along,IN,74.82,broken clouds,28.1667,94.7667,Hotel West
678,Pilas,ES,78.28,clear sky,37.3034,-6.3010,Hotel Lince

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] !='']
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Karwar,IN,78.35,scattered clouds,14.8000,74.1333,Netalco Connects
3,Rikitea,PF,73.15,broken clouds,-23.1203,-134.9692,People ThankYou
4,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Acapulco,MX,87.62,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
10,Cihuatlan,MX,87.48,scattered clouds,19.2366,-104.5651,Hotel Posada Agua Escondida
...,...,...,...,...,...,...,...
673,Kupang,ID,77.20,scattered clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
674,Bani,DO,87.24,clear sky,18.2833,-70.3333,Hospedaje Henriquez
675,Agua Prieta,MX,88.38,broken clouds,31.3000,-109.5667,Hotel Real de Agua Prieta
677,Along,IN,74.82,broken clouds,28.1667,94.7667,Hotel West
678,Pilas,ES,78.28,clear sky,37.3034,-6.3010,Hotel Lince

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description} </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))